@charset "utf-8";

/**** COMMON **********************************************************************/

/* 공동으로 사용할 css를 모아놓은 파일 */

/* float해제를 위한 가상요소 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 안쪽에서 컨텐츠 너비를 잡아줄 때 사용할 클래스 */

.inner {
    width: 1280px;
    margin: 0 auto;
}

/* 구글 웹폰트 */
/* 
    1) merriweather 폰트사용
    font-family: "merriweather", serif;
    font-weight: 300 | 400 | 700 | 900;

    2) 나눔 고딕
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400 | 700 | 800;

*/

/* 본문 영역 제목에 공통으로 적용될 디자인 */

.sec-tit {
    
    color: rgb(207,102,26);
    text-align: center;
    margin-bottom: 40px;

    font-size: 28px;
    font-family: "merriweather", serif;
    font-weight: 400;

}

.eng {
    font-family: "merriweather", serif;
    font-weight: 400;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    color: #333;

}
